## import pandas and numpy

In [12]:
import pandas as pd
import numpy as np
from google.colab import drive

## create a pandas DataFrame by reading the diabetes.csv

In [13]:
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [14]:
dataset_file = '/content/drive/My Drive/Colab Notebooks/diabetes.csv'
data = pd.read_csv(dataset_file)

## Display the head of the DataFrame

In [15]:
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

## Find the mean of 'Glucose' column of the DataFrame and assign it to variable a1

In [25]:
a1=data['Glucose']

## Find the median of 'BloodPressure' column of the DataFrame and assign it to variable a2

In [26]:
a2=data['BloodPressure']

## Find the mode of 'Age' column of the DataFrame and assign it to variable a3

In [27]:
a3=data['Age']

## Normalise 
### Normalise each element by subtracting it with mean of that column

In [29]:
df = data.copy()
for x in data.columns:
    df[x] = data[x] - data[x].mean()

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    float64
 1   Glucose                   768 non-null    float64
 2   BloodPressure             768 non-null    float64
 3   SkinThickness             768 non-null    float64
 4   Insulin                   768 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    float64
 8   Outcome                   768 non-null    float64
dtypes: float64(9)
memory usage: 54.1 KB

## save the normalised DataFrame to 'normalised_diabetes.csv' file

In [31]:
df.to_csv('/content/drive/My Drive/Colab Notebooks/normalised_diabetes.csv')

**Note : Dont print the answer as output**

## Run the below cells to save your answers in pickle file. Don't delete the cells.

In [32]:
import pickle
import hashlib
def get_pickle(file_name):
    with open(file_name, 'rb') as f:
        return pickle.load(f)

In [33]:
def geth(obj):
    obj = str(obj).encode()
    m = hashlib.md5()
    m.update( bytes(obj) )
    #print(m.hexdigest())

    return m.hexdigest()

In [34]:
def make_pickle(file_name, obj):
    with open(file_name, 'wb') as f:
        pickle.dump(geth(obj), f, pickle.HIGHEST_PROTOCOL)

In [35]:
def pickling():
    make_pickle('q1.pickle', a1)
    make_pickle('q2.pickle', a2)
    make_pickle('q3.pickle', a3)
    
    
pickling()